<br>


<div class="card p-3">
    <div class="card-body">
      
        <h2>Recoleccion de datos</h2>


        <div class="row">

            <form style="width: 100%;" [formGroup]="formularioDatos" (submit)="onSubmit()">
        
                <div class="row">
        
                    <div class="form-group col-12">
                        <label for="exampleFormControlTextarea1">Datos</label>
                        <textarea class="form-control" rows="3" formControlName="inputDatos"
                        placeholder="ingrese los datos separados por ,"></textarea>
                      </div>

                      <div class="form-group col-12 col-sm-12 col-md-6 col-lg-4">
                        <label for="inputAddress">Tipo de datos a procesar (ejem: latencia, decibelios)</label>
                        <input type="text" class="form-control" formControlName="inputTipoDatos" (keyup)="cambioValorTipoDato()">
                    </div>

                      <div class="form-group col-12 col-sm-12 col-md-6 col-lg-4">
                        <label for="inputAddress">Numero de datos (N)</label>
                        <input type="text" class="form-control" formControlName="inputNumeroDatos" readonly>
                    </div>
        
                      <div class="form-group col-12 col-sm-12 col-md-6 col-lg-4">
                        <label for="inputAddress">Maximo (Xmax)</label>
                        <input type="text" class="form-control" formControlName="inputMaximo" readonly>
                    </div>
        
        
                    <div class="form-group col-12 col-sm-12 col-md-6 col-lg-4">
                        <label for="inputAddress">Minimo (Xmin)</label>
                        <input type="text" class="form-control" formControlName="inputMinimo" readonly>
                    </div>
        
                    
                    <div class="form-group col-12 col-sm-12 col-md-6 col-lg-4">
                        <label for="inputAddress">Rango (R) = Xmax - Xmin</label>
                        <input type="text" class="form-control" formControlName="inputRango" readonly>
                    </div>

                    <div class="form-group col-12 col-sm-12 col-md-6 col-lg-4">
                        <label for="inputAddress">Intervalos (K) = 1 + 3.322 * Log N</label>
                        <input type="text" class="form-control" formControlName="inputIntervalos" readonly>
                    </div>

                    <div class="form-group col-12 col-sm-12 col-md-6 col-lg-4">
                        <label for="inputAddress">Amplitud (A) = R / K</label>
                        <input type="text" class="form-control" formControlName="inputAmplitud" readonly>
                    </div>

                    <div class="form-group col-12 col-sm-12 col-md-6 col-lg-4">
                        <label for="inputAddress">Media (x̄) = Σxf/n </label>
                        <input type="text" class="form-control" formControlName="inputMedia" readonly>
                    </div>

                    <div class="form-group col-12 col-sm-12 col-md-6 col-lg-4">
                        <label for="inputAddress">Mediana (Me) = Li + ( ((n/2) - Fi-1)/fi ) * A </label>
                        <input type="text" class="form-control" formControlName="inputMediana" readonly>
                    </div>


                    <!-- <div class="form-group col-12 col-sm-12 col-md-6 col-lg-4">
                        <label>Datos ordenados</label>
                        <select class="form-control">
                            <option *ngFor="let dato of datosOrdenados">{{dato}}</option>
                        </select>
                    </div> -->
        
        
                </div>
        
                <div class="row">
        
                    <div class="form-group col-12 col-sm-12 col-md-6 col-lg-4">
                      
                       <p>
                        <button class="btn btn-primary active" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            Mostrar Datos ordenados
                          </button>
                       </p>
                      
                      <div class="collapse" id="collapseExample">
                        <div class="card card-body">
        
                            <ul class="list-group">
                        <label>Datos ordenados</label>
                        <li *ngFor="let dato of datosOrdenados">{{dato.current}}= {{dato.cnt}}</li>
                      </ul>
        
                        </div>
                      </div>
                    </div>
        
                </div>


                <!-- comienza el html de la tabla -->
                <div class="row">

                    
                    
                    <div class="form-group col-12">

                        <h2>Tabla de frecuencias</h2>

                        <ngx-datatable class="material" [rows]="rows" [scrollbarH]="true" [messages]="messages" [columnMode]="ColumnMode.force"
                        [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [limit]="15">
                    
                    
                        <ngx-datatable-column name="clases">
                            <ng-template let-column="column" ngx-datatable-header-template>
                                <span>{{tipoDatos}}</span>
                            </ng-template>
                            <ng-template let-row="row" ngx-datatable-cell-template>

                                {{row.li}}  ---- {{row.ls}}

                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column name="columnax">
                            <ng-template let-column="column" ngx-datatable-header-template>
                                <span>Marca de clase (X)</span>
                            </ng-template>
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.x}}
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column name="colunmaf">
                            <ng-template let-column="column" ngx-datatable-header-template>
                                <span>Frecuencia absoluta (f)</span>
                            </ng-template>
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.f}}
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column name="columnafr">
                            <ng-template let-column="column" ngx-datatable-header-template>
                                <span>Frecuencia relativa (fr) </span>
                            </ng-template>
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.fr}}
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column name="columnaF">
                            <ng-template let-column="column" ngx-datatable-header-template>
                                <span>Frecuencia absoluta acumulada (F) </span>
                            </ng-template>
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.F}}
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column name="columnaF">
                            <ng-template let-column="column" ngx-datatable-header-template>
                                <span>xf</span>
                            </ng-template>
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.xf}}
                            </ng-template>
                        </ngx-datatable-column>
                    
                       
                    
                    </ngx-datatable>

                    </div>

                </div> 
                <!-- termina el html de la tabla -->
        
        
                <button type="submit" class="btn btn-primary active">Procesar</button>
            </form>
        
        
        
        
        </div>
        

    </div>
  </div>


