<br>
<div class="card p-3">
    <div class="card-body">
      
        <h2>Histograma</h2>

        <div>
            <div style="display: block">
              <canvas baseChart
                      [datasets]="barChartData"
                      [labels]="barChartLabels"
                      [options]="barChartOptions"
                      [legend]="barChartLegend"
                      [chartType]="barChartType">
              </canvas>
            </div>
          </div>


    </div>
</div>
        