<br>
<div class="card p-3">
    <div class="card-body">
      
        <div id="idGrafica" style="background-color: white;">

          <h2>Gráfica de {{tipoDeDatos}}</h2>

        <div>
            <div style="display: block">
              <canvas baseChart
                      [datasets]="barChartData"
                      [labels]="barChartLabels"
                      [options]="barChartOptions"
                      [legend]="barChartLegend"
                      [chartType]="barChartType">
              </canvas>
            </div>
          </div>

        </div>


          <div class="row ml-2 mt-3">

            <button type="button" class="btn btn-primary btn-lg active" (click)="guardarGrafica()">Guardar Gráfica</button>
            <button type="button" class="btn btn-primary btn-lg active ml-2" (click)="generarDatos()">Generar datos aleatorios</button>

            
          </div>



    </div>

</div>
        