<br>
<div class="card p-3">
    <div class="card-body">
      
        <div id="idGrafica" style="background-color: white;">

          <h2>Gráfica de {{tipoDeDatos}}</h2>

        <div>
            <div style="display: block;">
              <canvas baseChart
                      [datasets]="barChartData"
                      [labels]="barChartLabels"
                      [options]="barChartOptions"
                      [legend]="barChartLegend"
                      [chartType]="barChartType">
              </canvas>
            </div>
          </div>

        </div>


          <div class="row ml-2 mt-3">

            <div class="col-12 col-sm-12 col-md-4 col-lg-4">
              <button type="button" class="btn btn-primary active" (click)="guardarGrafica()">Guardar Gráfica</button>
            </div>

            <div class="col-12 col-sm-12 col-md-4 col-lg-4">
              <button type="button" class="btn btn-primary active" data-toggle="modal" data-target="#modalDatosRandom">Generar datos aleatorios</button>
            </div>
            
            <div class="col-12 col-sm-12 col-md-4 col-lg-4">
              <button type="button" class="btn btn-primary active" (click)="detenerDatosRandom()">Detener</button>
            </div>

          </div>



    </div>

</div>
        







<!-- Empieza modal -->
<div class="modal fade" id="modalDatosRandom" tabindex="-1" role="dialog" aria-labelledby="modalDatosRandomLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalDatosRandomLabel">Generar datos aleatorios</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <form [formGroup]="formularioDatosRandom">
          <div class="form-group">
            <label>Intervalo (segundos)</label>
            <input type="number" class="form-control" formControlName="inputIntervalo">
          </div>

          <div class="form-group">
            <label>Rango de datos generados</label>
            <input type="number" class="form-control" formControlName="inputRangoDatos">
          </div>
          
        </form>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="generarDatos()">Generar</button>
      </div>
    </div>
  </div>
</div>
<!-- Termina modal -->